<div class="container">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ95VCVGKDetPYz_xsCbIojOY9F2WRVXx0pOA&usqp=CAU">
    <br>
    <h2>Forgot password?</h2>
    <p>Enter the email address associated with your account<br>and we'll send you a link to reset your password</p>
    <br>
    <div class="form-outline mb-4">
        <input type="text" name="email" id="email" class="form-control" placeholder="Enter Email" [formControl]="email">
            <br>
            <button mat-raised-button class="btn btn-primary" 
            (click)="resetPassword()" [disabled]="email.invalid">Send reset link</button>
    </div>

</div>

