.container{
   margin-top:100px;
}

.btn:hover{
   color:#fff;
}

.btn{
   background-color: #dd3675;
}
.input-text:focus{
      
 
   box-shadow: 0px 0px 0px;
   border-color:#dd3675;
   outline: 0px;
}

.form-control {
   border: 1px solid #dd3675;
}

.rowimg {
   border-radius: 20px;
   max-height: 200px;
   transition: transform 450ms;
   padding: 5px;
   margin: 0px 10px 30px 20px;
}

.rowimg:hover {
   transform: scale(1.08);
   cursor: pointer;
}

.largeposter {
   max-height: 300px;

}

select{

   padding: 8px;
   text-decoration: none;
   border-radius: 5px;
   padding-left: 15px;
   margin-top: 0%;
   grid-gap: 50px;
   white-space: 20px;

}
#year{
   margin-left: 20px;
}

@media only screen and (max-width: 600px) {
   .rowimg {
      border-radius: 20px;
      height: 200px;
      transition: transform 450ms;
      padding: 5px;
      margin-left: 40px;
   }
 
}



