<div class="container">
    <br>
    <h2>Reset password</h2>
    <br>
    <div class="form-outline mb-4">
        <input type="password" name="email" id="email" class="form-control" placeholder="New Password" [formControl]="password"
        >
        <br>
        <input type="password" name="email" id="email" class="form-control" placeholder="Repeat Password">
            <br>
            <button mat-raised-button class="btn btn-primary" (click)="setPassword()" >Save</button>
    </div>

</div>

